body {
    display: flex;
    background-color: palevioletred;
}
main {
    display: flex;
    margin: auto;
    min-height: 100vh;
}
#title {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    font-size: 33px;
}
#poke-img {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    height: 400px;
    filter: drop-shadow(0 0 5rem chartreuse);
}
#search {
    display: flex;
    justify-content: center;
    border: 6px outset palevioletred;
    padding: 7px;
    margin: 10px;
    background-color: hotpink;
}

#found {
    display: flex;
    justify-content: center;
    border: 7px outset palevioletred;
    background-color: hotpink;
}
.evolution {
    display: flex;
}
.firstEv {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px;
    margin: 5px;
}
.secondEv {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px;
    margin: 5px;
}
.thirdEv {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px;
    margin: 5px;
}
