body {
    display: flex;
    background-color: deepskyblue;
}
main {
    display: flex;
    margin: auto;
    min-height: 100vh;
}
#title {
    display: flex;
    margin-top: -40px;
    margin-left: 240px;
    font-size: 33px;
}
#poke-img {
    display: flex;
    height: 300px;
}
#search {
    display: flex;
    border: 2px outset hotpink;
    padding: 5px;
    background-color: green;
}
#found {
    border: 2px outset salmon;
    padding: 5px;
    background-color: deeppink;
}
#name #id #moves{
    display: flex;
    padding: 20px;
}
